.venv/
demo/
puzzles/
HW2/q1/3.jpg
HW2/q1/2.jpg
HW2/q1/1.png
HW3/ImageProcessingHW3Instructions.pdf
HW3/q1/1.jpg
HW3/q1/image_1.jpg
HW3/q1/image_2.jpg
HW3/q1/image_3.jpg
HW3/q1/image_4.jpg
HW3/q1/image_5.jpg
HW3/q1/image_6.jpg
HW3/q1/image_7.jpg
HW3/q1/image_8.jpg
HW3/q1/image_9.jpg
HW3/q2/balls.jpg
HW3/q2/NoisyGrayImage.png
HW3/q2/taj.jpg
HW3/q3/broken.jpg
